.background-hands {
  background-image: url("./../images/hands.jpg");
  background-color: #ffffff;
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nadobro {
  color: rgb(245, 153, 66);
}
.header-charity {
  font-size: 42px;
  font-weight: 700;
  /* font-family: "Museo"; */
  padding-top: 62px;
  padding-bottom: 42px;
  color: #000000;
  letter-spacing: 1px;
  text-align: center;
}
.title-2 {
  font-size: 20px;
  color: #2d3540;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 82px;
}
.title-3 {
  /* margin-left: 400px; */
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.partner-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.partner {
  border-radius: 4px;
  width: 300px;
  background-color: white;
}
.cover {
  /* background-color: #ffffff75; */
  background: linear-gradient(
    rgba(255, 255, 255, 0.4) 2%,
    rgba(248, 248, 250, 0.548) 60%,
    rgb(253, 253, 253) 98%
  );
  /* background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */

  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.562) 50%,
    rgba(255, 255, 255, 0.9) 100%
  ); */
}
