/*
* Лёгкийи и отзывчивый аккордеон
* минимум кода, максимум функционала
* без javascript, на чистом CSS
* работает на скрытых checkbox.
*/

h1 {
  color: #201e1e;
  text-transform: uppercase;
  padding: 0.25em;
  /* text-align: center; */
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 400;
}
.container-faq {
  margin: 0 3em;
}
