.footer {
  background-color: #ffffff;
  color: #707070;
  padding: 1em 8%;
}

.footer {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer ul li {
  white-space: nowrap;
  margin: 0.8em;
  font-size: 0.85em;
}

.footer li a {
  color: #707070;
}

.footer li a:hover {
  color: #2d3540;
}

copy,
address {
  /* white-space: nowrap; */
  font-size: 0.85em;
  margin: 0.25em 0;
}

/* Call center number */
.footer .call-center {
  grid-column: 10 /13;
  justify-self: end;
  text-align: end;
}
.call-center b {
  font-size: 4.5em;
  font-weight: 900;
}

.call-center small {
  font-size: 0.85em;
  display: block;
}

/* @media  для смартфонов*/
@media (max-width: 320px) {
  /* main {
    width: 15.5em;
  }
  article {
    grid-row: 1;
  } */
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* Call center number */
  .footer .call-center {
    /* grid-column: 4 /10; */
    margin: 1em;
    justify-self: end;
    text-align: center;
    align-items: flex-end;
    position: end;
  }
}
@media (max-width: 375px) {
  /* main {
    width: 15.5em;
  }
  article {
    grid-row: 1;
  } */
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* Call center number */
  .footer .call-center {
    /* grid-column: 4 /10; */
    margin: 1em;
    justify-self: end;
    text-align: center;
    align-items: flex-end;
    position: end;
  }
  .footer ul li {
    margin: 0.7em;
  }
}
@media (max-width: 410px), (max-width: 414px) {
  .footer {
    padding: 1em 6%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* Call center number */
  .footer .call-center {
    /* grid-column: 4 /10; */
    margin: 1em;
    justify-self: end;
    text-align: center;
    align-items: flex-end;
    position: end;
  }
  .footer ul li {
    margin: 0.7em;
  }
}
/* 
@media (min-width: 360px) {
  main {
    width: 18em;
  }
  article {
    grid-row: 1;
  }
}

@media (min-width: 375px) {
  main {
    width: 19em;
  }
  article {
    grid-row: 1;
  }
}

@media (min-width: 410px) {
  main {
    width: 20em;
  }
  article {
    grid-row: 1;
  }
} */
