.home-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.home-grid aside {
  grid-column: 8 / 13;
}

.home-grid aside h2 {
  display: none;
}

@media (max-width: 767px) {
  .home-grid aside {
    grid-column: 1 / 13;
  }
}

.main-div {
  padding: 1em 5em;
  background-color: #f5f5f5;
}
