nav {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  column-gap: 0.5em;
}

nav ul {
  display: flex;
}
nav ul li {
  white-space: nowrap;
  margin: 1em;
  font-size: 20px;
}

nav img {
  grid-column: 1 / 2;
}

nav ul {
  grid-column: 2 / 10;
}

nav li a {
  color: #2d3540;
}

nav li a:hover {
  color: #ff8c00;
}
