html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ffffff;
}

a {
  /*color: rgb(22, 126, 251); */
  color: #3186c1;
  text-decoration: none;
}

a:hover {
}

a:active {
  color: #094e96;
}

.black-link {
  color: #191919;
}
.black-link:hover {
  /*color: #0057ff; */
}

p {
}

.container {
  padding: 0 10%;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 2fr auto 1fr;
  grid-row-gap: 2em;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  padding: 0.5em 8%;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* background-color: #ffffff; */
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}

.content {
  grid-area: content;
  /*display: grid;
  grid-template-columns: repeat(12, 1fr);*/
  /* padding: 1.5em 8%; */
  background-color: #f5f5f5;
}

.main-content {
  grid-column: 1 / 10;
}

.sidebar {
  grid-column: 10 / 13;
}

.footer {
  grid-area: footer;
}

@media (min-width: 1600px) {
  .container {
    padding: 1.5em 12%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 4%;
    grid-row-gap: 1.5em;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  .header {
    display: grid;
    padding: 0 4%;
  }

  .content {
    display: block;
  }

  .header ul {
    display: none;
  }
}

.sidebar section ul li {
  margin: 0.5em 0;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1em;
}

/* H1..H2 */
h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 28px;
  line-height: 1.13;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin: 1em;
}

.header-back {
  background-color: #ffffff;
  height: 5em;
}
