.content-self-76 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  flex-direction: row;
}
.link-self-11 {
  color: #0055bb;
  cursor: pointer;
  transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.31;
  text-decoration: none;
}
.typo-text-small-188.typo-bold-198 {
  color: #000;
  font-weight: 500;
}
.typo-self-180:first-child {
  margin-top: 0;
}
.typo-bold-198 {
  box-sizing: inherit;
}
.typo-text-small-188 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.43;
  font-weight: 300;
}
.typo-self-180 {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.typo-self-180:last-child {
  margin-bottom: 0;
}

/* popitka */

.column-1 {
  width: 63%;
  padding: 10px;
}
.column-2 {
  width: 33%;
  padding: 10px;
}
.block-1 {
  background-color: #fff;
  padding: 45px 45px 50px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
.block-2 {
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 45px 45px 50px;
  position: relative;
  border-radius: 10px;
}

.link-offer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.link-offer:first-child {
  margin-top: 0;
}
.link-offer:last-child {
  margin-bottom: 0;
}

@media (max-width: 360px), (max-width: 410px), (max-width: 414px) {
  .column-1 {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
}
