/* Card's greed */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
  grid-gap: 1em;
}

.home-grid .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
  grid-gap: 0.5em;
}

/* Card */
.card {
  transition: box-shadow 300ms ease, transform 300ms ease;
  background-color: #fff;
  display: grid;

  align-content: center;
  justify-items: center;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  height: 10em;
  width: 10em;
  user-select: none;
  padding: 1em;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.1);
}

.card h3 {
  display: grid;
  align-content: center;
  font-size: 0.8em;
  font-weight: 500;
  color: #666;
  line-height: 1.5em;
  text-align: center;
  height: 3em;
  margin-bottom: -1.5em;
}
.service-icon {
  fill: #666;
}

@media (max-width: 320px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1em;
  }
  .card {
    height: 9em;
    width: 9em;
  }
  .card h3 {
    font-size: 0.7em;
  
  }
}

@media (max-width: 360px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1em;
  }
 
  
}
