/* Card's greed */
.info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(319px, 1fr));
  grid-gap: 2em;
}

.home-grid .info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5em;
}

/* Card */
.info-card {
  transition: box-shadow 300ms ease, transform 300ms ease;
  background-color: #fff;
  /* border-radius: 16px; */
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14); */
  cursor: pointer;
  /* text-align: center; */
  /* height: 456px;
  width: 352px; */

  height: 35em;
  width: 23em;
  border: 0.01em solid #ebebeb;

  /* user-select: none; */
  /* position: relative; */
  /* color: #262626; */
}
.info-card:hover {
  transform: scale(1.0681818182);
  z-index: 9999;
  /* size: auto; */
  /* transform: translateY(-24px); */
  /* transform: scale(12em [, 16em]); */
  box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 0.01em solid #336dc4;
}
.info-card h3 {
  /* font-size: initial; */
  /* margin-right: auto; */
  /* position: relative; */
  font-size: 2em;
  /* font-size: 1.6rem; */
  font-weight: 400;
  /* text-align: left; */
  padding-left: 1em;
  /* color: #652d91; */
  color: midnightblue;
  /* line-height: 1.1; */
}
.info-text {
  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5rem;
  /*    line-height: 16px;      fallback */
  font-size: 1em;

  max-height: 145px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;

  font-family: sans-serif;
  margin: 1.6rem;
  text-align: left;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5rem;
  font-size: 1em;

  max-height: 145px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-family: sans-serif;
  margin: 1.6rem;
  text-align: left; */
}

@media (max-width: 320px) {
  .info-cards {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); */
    grid-gap: 2em;
  }
  .info-card {
    /* transition: box-shadow 300ms ease, transform 300ms ease;
    background-color: #fff;
    cursor: pointer; */

    height: 25em;
    width: 17em;
  }
}

@media (min-width: 360px) {
  /* .info-cards {
    display: grid;
    grid-gap: 2em;
  } */
  .info-card {
    height: 25em;
    width: 20.7em;
  }
}

@media (min-width: 375px) {
  .info-card {
    height: 25em;
    width: 20.7em;
  }
}
@media (min-width: 410px) {
  .info-card {
    height: 25em;
    width: 22.5em;
  }
}
/*
@media (min-width: 410px) {
  main {
    width: 20em;
  }
  article {
    grid-row: 1;
  }
} */
